<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-title ion-text-center">Planetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <ion-list>
    @for (pla of planets; track pla._id) {
      <ion-item-sliding>
        <ion-item [routerLink]="'/planet-detail-page/' + pla._id">
          <ion-avatar slot="start">
            <ion-img [src]="pla.image"></ion-img>
          </ion-avatar>
          <ion-label>
            {{pla.name}}
            <ion-text>({{pla.region}})/ Nativos: {{pla.native_species}}/ {{pla.population}} habitantes</ion-text>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    }
  </ion-list>
</ion-content>
